<article>
  <section class="about">
        <div>
          <h2>About Run Journal</h2>
          <p>The Run Journal website allows users to log run data, view/edit saved runs, and search current weather conditions by city.</p> 
        </div>
  </section>
    <section class="features">
        <div>
          <h2>Features of Run Journal</h2>
          <p>✔ Log your running stats<p>
          <p>✔ View saved runs</p> 
          <p>✔ Get current weather conditions</p> 
          <br>
        </div>
  </section>
</article>