<main>
    <div class="weatherDiv">
        <h2>Current weather</h2>
        <form id="weather_form" action="#">
            <label for="weather_location">City: </label>
            <input name="weather_location" id="weather_location" type="text"/>
            <input type="submit" value="Search">
        </form>

        <section id="weather"></section>

    </div>
</main>

<script src="weather.js"></script>